.background{
    background-color: rgba(0,0,0,0.3);
    width: 1200px;
    height: 150px;
    margin: auto;
    padding: 8px;
    // border-top: 5px solid #fff;
    // border-left: 8px solid #fff;
    // border-right: 8px solid #fff;
}
p{
    color: #FFF;
    text-align: center;
}