<footer class="background">
    <div>
        <p>Move the Listpoints with Drag & Drop
            to the other List. Sort the dots in your eyes according to their priority.</p>
        <p>
            Sort the dots in your eyes according to their priority.
            Confirm your sorting with the Vote-Button.</p>
        <p>When all have voted, an average priority of each point is determined.</p>
    </div>
    <div>
        <p>Already Voted: 0
            Open Votes: 13</p>
    </div>
</footer>