.background{
    background-image: url('../../../assets/img/HeaderPicture.jpg');
    background-size: 1200px 350px;
    width: 1200px;
    height: 350px;
    margin: auto;
    margin-top: 1%; 
    border-bottom: 5px solid #fff;
    border-left: 8px solid #fff;
    border-right: 8px solid #fff;
}
.img{
    text-align: center;
}
.time{
    color: #FFF;
    font-size: 30px;
    text-align: center;
    margin-top: 130px; 
}