<mat-card>
    <div class="tooltip">
        <mat-icon>help_outline</mat-icon>
        <span class="tooltiptext">Click on the Points to se discription</span>
    </div>
  <div cdkDropListGroup class="login">
    <div class="example-container">
      <h2>Sorted Points</h2>

      <div cdkDropList [cdkDropListData]="sortedPoints" class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of sortedPoints" cdkDrag>
          <button class="button-to-dialog" mat-raised-button (click)="openDialog(item)">{{item.content}}</button>
        </div>
      </div>
    </div>

    <div class="example-container">
      <h2>Points</h2>

      <div cdkDropList [cdkDropListData]="points" class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of points" cdkDrag>
            <button class="button-to-dialog" mat-raised-button (click)="openDialog(item)">{{item.content}}</button>
        </div>
      </div>
    </div>
    <button class="button" *ngIf="!saved" (click)="save() ; changeSaved()" mat-raised-button>Send your Sorting</button>
    <div *ngIf="saved">
      <button class="button" (click)="logout()" mat-raised-button>Let me out</button>
    </div>
  </div>
</mat-card>