.login{
    width: 1200px;
    margin: auto;
    border: 8px solid #FFF;
    text-align: center;
}
.border{
    border: 3px solid #242F39;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 55px;
}

h1 { color: #313D4D; 
    text-shadow: 0 0 6px #242F39; 
    letter-spacing: 1px; 
    text-align: center; 
}
p{
    color: #313D4D;
    text-shadow: 1px 1px 1px #BABABA;
}
.example-form-field {
    width: 50%;
    margin-bottom: 10px;
    outline: none;
    padding: 10px;
    border: 1px solid #242F39;
    border-radius: 4px;
  }
  button{
    background: #9BBF29;
    color: #242F39;
    margin-bottom: 10px;
  }
  a {
    display: inline;
    color: #BABABA;
    padding: 13px;
    font-size: 20px;
    text-decoration: none;
    text-align: center; 
    border: 1px solid #7a7a7a;
}
a:hover{
    background-color: #BaBaBa;
    color: #FFF;
}
.active{
    background-color: #7a7a7a;
    color: #FFF;
}