<body class="login">
    <div *ngIf="!openListView" class="border">
        <h1>Login</h1>
        <form (ngSubmit)="tryToLogin()" #login="ngForm">
            <p *ngIf="wrongCombination">Please Try Again</p>
            <input [(ngModel)]="userName" name="userName" type="text" placeholder="Username" required="required" />
            <input [(ngModel)]="userPassword" name="userPassword" type="password" placeholder="Password" required="required" />
            <button type="submit" [disabled]="!login.form.valid">Let me in.</button>
        </form>
    </div>
    <div *ngIf="openListView">
            <app-list-with-points></app-list-with-points>
    </div>
</body>