<body class="login">
    <div *ngIf="!loggedIn" class="border">
        <h1>Login</h1>
        <form *ngIf="!loggedIn" (ngSubmit)="tryToLogin()" #login="ngForm">
            <p *ngIf="wrongCombination">Please Try Again</p>
            <mat-form-field class="example-form-field">
                <input matInput type="text" placeholder="Username" [(ngModel)]="userName" name="userName"
                    required="required">
            </mat-form-field>
            <mat-form-field class="example-form-field">
                <input matInput type="password" placeholder="Password" [(ngModel)]="userPassword" name="userPassword"
                    required="required">
            </mat-form-field>
            <br>
            <button [disabled]="!login.form.valid" mat-raised-button>Let me
                in</button>
        </form>
    </div>
</body>
<div class="login" *ngIf="loggedIn">
    <router-outlet>
        <a [routerLink]="['/vote']" routerLinkActive="active">Vote</a>
    </router-outlet>
</div>